<style>
  :root {
    --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */

    --swiper-width: 50%;
    --swiper-inactive-scale: 0.85; /* makes the other slide smaller */

    /* responsive settings */
    --swiper-mobile-width: 90%;
    --swiper-mobile-inactive-scale: 0.95;
  }

  .container {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    position: relative;
    width: var(--swiper-width);
    height: 200px;
    opacity: 0.5;
    transform: scale(0.84);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 0.4285rem;
  }

  .swiper-backface-hidden .swiper-slide {
    transform: scale(0.84) translateZ(0);
  }

  .swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1 !important;
  }

  .swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0) !important;
  }

  .swiper-image {
    position: relative;
    width: 100%;
    padding-top: var(--swiper-image-ratio);
  }

  .swiper-image .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #929ec9;
  }

  .swiper-next-{{ block.id }},
  .swiper-button-prev {
    padding: 8px;
    width: 12px;
    height: 12px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }

  .swiper-next-{{ block.id }}::after,
  .swiper-prev-{{ block.id }}::after {
    color: #fff;
    font-size: 12px;
  }

  .swiper-next-{{ block.id }} {
    transform: translate(50%, -50%);
    right: calc((100% - var(--swiper-width)) / 2);
  }

  .swiper-prev-{{ block.id }} {
    transform: translate(-50%, -50%);
    left: calc((100% - var(--swiper-width)) / 2);
  }

  @media only screen and (max-width: 768px) {
    .swiper {
      height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
    }

    .swiper-slide {
      width: var(--swiper-mobile-width);
      transform: scale(var(--swiper-mobile-inactive-scale));
    }

    .swiper-backface-hidden .swiper-slide.swiper-slide {
      transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
    }

    .swiper-button-next {
      right: calc((100% - var(--swiper-mobile-width)) / 2);
    }

    .swiper-button-prev {
      left: calc((100% - var(--swiper-mobile-width)) / 2);
    }
  }
</style>

<div class="container">
  <div class="swiper swiper-{{ block.id }}">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-image">
          <div class="image"></div>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-prev-{{ block.id }}"></div>
    <div class="swiper-next-{{ block.id }}"></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiperEl = document.querySelector('.swiper-{{ block.id }}');
    console.log('..............not working');
    if (!swiperEl || swiperEl.swiper) return;
    console.log('..............working');
    console.log(document.querySelector('.swiper-prev-{{ block.id }}') , 'div')
    new Swiper(swiperEl, {
      loop: true,
      slidesPerView: 'auto',
      centeredSlides: true,
      autoplay: {
        delay: 2000,
      },
      navigation: {
        nextEl: '.swiper-next-{{ block.id }}',
        prevEl: '.swiper-prev-{{ block.id }}',
      },
    });
  });
</script>

{% schema %}
{
  "name": "swiper slide",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "slide image"
    }
  ],
  "presets": [{ "name": "custom swiper" }]
}
{% endschema %}
